/*CLASSE QUE VAI SER ADICIONADA CASO ALGUM CAMPO DO FORMULARIO ESTEJA VAZIO*/
.validar-campo{

    animation: campo-vazio 100ms linear;
    animation-iteration-count: 2;

}

/*ANIMAÇÃO DO CAMPO VAZIO*/
@keyframes campo-vazio {

    0%,100%{

        transform: translateX(0);

    }50%{

        transform: translateX(-10%);

    }75%{

        transform: translateX(10%);

    }
    
}

/*ANIMAÇÃO DA SEÇÃO 2, ONDE O CONTEUDO VEM DA ESQUERDA PARA DIREITA*/
@keyframes esquerda-para-direita {
    
    from{

        opacity: 0;
        transform: translateX(-100%);

    }to{

        opacity: 1;
        transform: translateX(0);

    }

}

/*ANIMAÇÃO DA SEÇÃO 2, ONDE O CONTEUDO VEM DA DIREITA PARA ESQUERDA*/
@keyframes direita-para-esquerda {
    
    from{
        
        opacity: 0;
        transform: translateX(100%);

    }to{

        opacity: 1;
        transform: translateX(0);

    }

}