.validar-campo{

    animation: campo-vazio 100ms linear;
    animation-iteration-count: 2;

}

@keyframes campo-vazio {

    0%,100%{

        transform: translateX(0);

    }50%{

        transform: translateX(-10%);

    }75%{

        transform: translateX(10%);

    }
    
}

@keyframes esquerda-para-direita {
    
    from{

        opacity: 0;
        transform: translateX(-100%);

    }to{

        opacity: 1;
        transform: translateX(0);

    }

}

@keyframes direita-para-esquerda {
    
    from{
        
        opacity: 0;
        transform: translateX(100%);

    }to{

        opacity: 1;
        transform: translateX(0);

    }

}