@media screen and (max-width:600px) {
    
    .lado-a-lado{

        display: block;

    }

    #nome, #sobrenome{

        width: 100%;
        margin: 10px 0px;

    }

    #sobrenome{

        margin: 0px;

    }

}

@media screen and (max-width:1000px){

    form{

        width: 70%;

    }

}