*{

    padding: 0px;
    margin: 0px;

}

body{

    font-family: Arial, Helvetica, sans-serif;

}

header{

    height: 100vh;
    background-color: cornflowerblue;

}

#slide{

    padding: 5% 5% 0;

}

img{

    height: 100%;
    width: 100%;

}

#section1{

    height: 100vh;
    background-color: darkkhaki;

}

#section2{

    height: 100vh;
    background-color: darkseagreen;

}

#section3{

    height: 100vh;
    background-color: darkslategray;

}

#section4{

    height: 100vh;
    background-color: plum;

}

footer{

    background-color: rgb(47, 65, 119);
    color: white;
    padding: 50px 0px 100px 0px;

}

footer h1{

    text-align: center;
    padding-bottom: 50px;
    font-size: 2em;

}

form{

    width: 40%;
    background-color: slateblue;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.425);
    margin: auto;
    max-width: 800px;
    padding: 20px;

}

label{

    font-size: 1.1em;

}

form input, textarea, button{

    border: solid 2px black;
    margin-top: 5px;

}

.lado-a-lado{

    display: flex;

}

#nome,#sobrenome{

    width: 50%;

}

input, #cmpDescricao{

    width: 100%;

}

#nome{

    margin-right: 10px;

}

#sobrenome{

    margin-left: 10px;

}

#telefone,#email,#descricao{

    margin: 10px 0px;

}

textarea{

    resize: none;
    border-radius: 5px;

}

input{

    height: 30px;
    border-radius: 5px;

}

#botao{

    text-align: center;

}

button{

    height: 50px;
    width: 70%;
    margin: 25px 0px 10px;
    border-radius: 8px;
    font-size: 1.2em;
    font-weight: 700;

}

button:hover{

    transform: scale(0.9);
    background-image: linear-gradient(to right, rgba(45, 22, 129, 0.801),rgba(13, 63, 202, 0.884));
    color: white;

}