@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Flow+Block&display=swap');

*{

    margin: 0px;
    padding: 0px;

}

body{

    font-family: Roboto, 'Open Sans', sans-serif;

}

img{

    height: 100%;
    width: 100%;

}

header{

    width: 100%;
    height: 100vh;
    background-color: #021D40;
    display: flex;
    justify-content: center;

}

header h1{

    padding: 50px;
    font-size: 2.5em;
    text-align: center;
    color: #89BAD9;
    font-family: 'Fredoka One', cursive, sans-serif;

}

header #slide{

    max-width: 1500px;
    max-height: 900px;
    position: absolute;
    top:10%;bottom: 10%;
    left: 15%;right: 15%;

}

#section2{

    background-color:  #032859;
    padding: 100px 80px 0px;
    overflow: hidden;

}

#section2 #titulo-secao2{

    text-align: center;
    font-size: 2.5em;
    margin-bottom: 100px;
    color: #89BAD9;
    font-family: 'Fredoka One', cursive, sans-serif;

}

#section2 .imagem{

    max-height: 250px;
    margin: auto;

}

.esquerda, .direita{

    display: flex;
    padding-bottom: 200px;
    max-width: 1500px;
    margin: auto;
    color: #5377A6;
    

}

.esquerda{

    opacity: 0;

}

.direita{

    text-align: right;
    opacity: 0;

}

.esquerda.active{

    animation: esquerda-para-direita 700ms ease-out;
    animation-fill-mode: forwards;

}

.direita.active{

    animation: direita-para-esquerda 700ms ease-out;
    animation-fill-mode: forwards;

}

.conteudo{

    width: 100%;

}

.conteudo h1{

    font-size: 2.3em;
    padding-bottom: 20px;

}

.esquerda .conteudo p{

    font-size: 1.1em;
    padding-right: 50px;
    color: #6997BF;
    line-height: 30px;
    font-family: 'Flow Block', cursive;

}

.direita .conteudo p{

    font-size: 1.1em;
    padding-left: 50px;
    color: #6997BF;
    line-height: 30px;
    font-family: 'Flow Block', cursive;

}

#section3{

    background-color: #021D40;
    padding-bottom: 100px;

}

#section3 h1{

    text-align: center;
    padding: 100px 0px;
    font-size: 2.5em;
    color: #89BAD9;
    font-family: 'Fredoka One', cursive, sans-serif;

}

#section3 .card-conteudo{

    padding-bottom: 50px;

}

#section3 .cards{

    display: flex;
    flex-wrap: wrap;
    margin:auto;
    max-width: 1500px;

}

#section3 .card{

    margin: 50px auto;
    padding: 0px 10px;
    background-color: #6997BF;
    color: #021D40;
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.281);

}

#section3 .card h2{

    margin: 20px;

}

#section3 .card img{

    max-height: 200px;
    margin-top: 20px;

}

#section3 .card .botao-comprar{

    text-align: center;
    margin-top: 25px;

}

#section3 .card input{

    font-size: 1.1em;
    font-weight: 900;
    height: 50px;
    width: 90%;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.692);

}

#section3 .card input:hover{

    transform: scale(0.9);
    background-color: #5377A6;
    color: white;
    cursor: pointer;

}

footer{

    background-color: #032859;
    padding: 50px 0px 100px 0px;

}

footer h1{

    text-align: center;
    padding-bottom: 50px;
    font-size: 3em;
    color: #89BAD9;
    font-family: 'Fredoka One', cursive, sans-serif;

}

form{

    width: 40%;
    background-color: #6997BF;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.521);
    margin: auto;
    max-width: 800px;
    padding: 20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.281);

}

label{

    font-size: 1.1em;
    color: #032859;
    font-weight: 900;

}

form input, textarea, button{

    border: solid 2px black;
    margin-top: 5px;

}

.lado-a-lado{

    display: flex;

}

#nome,#sobrenome{

    width: 50%;

}

input, #cmpDescricao{

    width: 100%;

}

#nome{

    margin-right: 10px;

}

#sobrenome{

    margin-left: 10px;

}

#telefone,#email,#descricao{

    margin: 10px 0px;

}

textarea{

    resize: none;
    border-radius: 5px;

}

input{

    height: 30px;
    border-radius: 5px;

}

#botao{

    text-align: center;

}

button{

    height: 50px;
    width: 70%;
    margin: 25px 0px 10px;
    border-radius: 8px;
    font-size: 1.2em;
    font-weight: 900;

}

button:hover{

    transform: scale(0.9);
    background-color: #5377A6;
    color: white;
    cursor: pointer;

}